<!Doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static' , filename ='linux.css')}}">

    <style>
        body {
            background-image: url("/static/bg.jpg");
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        
          #container {
            width: 70%;
            margin: auto;
            padding: 20px;
        }
    </style>

</head>

<body>

    <h1 style="position: absolute;left: 35%;color: aliceblue;">Welcome to Blog Page</h1>
    <br>
    <br>
    <br>
    <div class="abc">
        <p style="color: aliceblue;"><b>1.<a href="https://1398abhisingh911.wordpress.com/2021/03/31/flask-unmasked/" target="_blank">Flask Unmasked!</a></b></p>
        <br>
        <p style="color: aliceblue;"><b>2.<a href="https://1398abhisingh911.wordpress.com/2021/03/31/all-about-ansible/" target="_blank">All About Ansible</a></b></p>
        <br>
        <p style="color: aliceblue;"><b>3.<a href="https://1398abhisingh911.wordpress.com/2021/03/31/hadoop-cluster-configuration-using-ansible/" target="_blank">Hadoop Cluster Configuration Using Ansible</a></b></p>
        <br>
        <p style="color: aliceblue;"><b>4.<a href="https://1398abhisingh911.wordpress.com/2021/03/31/using-aws-cli/" target="_blank">Using AWS CLI</a></b></p>
        <br>
        <p style="color: aliceblue;"><b>5.<a href="https://1398abhisingh911.wordpress.com/2021/03/31/git-and-github/" target="_blank">Git and GitHub</a></b></p>
        <br>
        <p style="color: aliceblue;"><b>6.<a href="https://1398abhisingh911.wordpress.com/2021/03/31/hadoop-setup-and-experiments-on-aws/" target="_blank">Hadoop on AWS</a></b></p>

        <br>
        <p style="color: aliceblue;"><b>7.<a href="https://1398abhisingh911.wordpress.com/2021/03/31/running-gui-apps-on-docker/" target="_blank">GUI apps on Docker</a></b></p>
        <br>
        <p style="color: aliceblue;"><b>8.<a href="https://1398abhisingh911.wordpress.com/2021/04/05/kubernetes-simplified-part-1/" target="_blank">Kubernetes Simplified</a></b></p>

        <br>
        <p style="color: aliceblue;"><b>9.<a href="https://1398abhisingh911.wordpress.com/2021/03/31/creation-of-flask-app-and-deployment-on-top-of-docker-and-kubernetes/" target="_blank">Flask App Deployment on Top of Docker and K8s</a></b></p>
        <br>
        <p style="color: aliceblue;"><b>10.<a href="https://1398abhisingh911.wordpress.com/2021/03/31/kubernetes-multi-node-cluster-automation-on-aws-using-ansible-roles/" target="_blank">K8S Multinode Cluster Automation using Ansible roles</a></b></p>
    </div>
</body>

</html>
