<!Doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Menu</title>
    <link rel="stylesheet" href="..\static\main.css">


</head>

<body>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
    <h1>Main Menu</h1>
    <div class="main">
        <ul class="cards">
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="../static/linux.jpg"></div>
                    <div class="card_content">
                        <h2 class="card_title">Linux</h2>
                        <p class="card_text">Run Linux Commands</p>
                        <button class="btn card_btn" onclick="window.location.href='http://127.0.0.1:5000/linux';">Open</button>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="../static/aws.jpg"></div>
                    <div class="card_content">
                        <h2 class="card_title">Amazon Web Services</h2>
                        <p class="card_text">Run AWS CLI Commands</p>
                        <button class="btn card_btn" onclick="window.location.href='http://127.0.0.1:5000/aws';">Open</button>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="../static/docker.jpg"></div>
                    <div class="card_content">
                        <h2 class="card_title">Docker</h2>
                        <p class="card_text">Run Docker Related Commands</p>
                        <button class="btn card_btn" onclick="window.location.href='http://127.0.0.1:5000/docker';">Open</button>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="../static/ansible.png"></div>
                    <div class="card_content">
                        <h2 class="card_title">Ansible</h2>
                        <p class="card_text">Run Ansible Playbooks</p>
                        <button class="btn card_btn" onclick="window.location.href='http://127.0.0.1:5000/ansible';">Open</button>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="../static/ml.jpg"></div>
                    <div class="card_content">
                        <h2 class="card_title">Machine Learning</h2>
                        <p class="card_text">Run ML Tasks</p>
                        <button class="btn card_btn" onclick="window.location.href='http://127.0.0.1:5000/ml';">Open</button>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="../static/blog.jpg"></div>
                    <div class="card_content">
                        <h2 class="card_title">Blog</h2>
                        <p class="card_text">Read Articles</p>
                        <button class="btn card_btn" onclick="window.location.href='http://127.0.0.1:5000/blog';">Open</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>


    <footer>
        <div class="rounded-social-buttons">
            <a class="social-button facebook" href="https://www.facebook.com/abhijeet.dx/" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a class="social-button twitter" href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
            <a class="social-button linkedin" href="https://www.linkedin.com/in/1398abhisingh911" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a class="social-button youtube" href="https://youtu.be/Y6ZOWMh1No4" target="_blank"><i class="fab fa-youtube"></i></a>
            <a class="social-button instagram" href="https://instagram.com/abhijeetsingh.dx" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
        <div>
            <center>
                <p>
                    &copy;Copyright 2021. All rights reserved.
                    <br> Created by <a href="https://github.com/1398abhisingh911/" target="_blank">Abhijeet</a>
                </p>
            </center>
        </div>
    </footer>

</body>

</html>
