<!Doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static' , filename ='linux.css')}}">

    <style>
        body {
            background-image: url("/static/bg.jpg");
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        input[type=text] {
            background-color: #c6d5e9;
            color: white;
            margin-bottom: 0.3cm;
        }
    </style>

</head>

<body>

<h1 style="position: absolute;left: 35%;color: aliceblue;">Welcome to ML Page</h1>
    <br>
    <br>
    <br>
    <form action="{{ url_for('rekognition') }}" method="post">
        <div class="form-group">
            <h1 style="color: aliceblue;">Recognise Labels in image</h1>
            <input type="text" name="picname" class="form-control" id="cmd" placeholder="Enter Name of Pic that will be saved in your system">

            <input type="text" name="uplname" class="form-control" id="cmd" placeholder="Name of file you want in the bucket">
            <br>

        </div>
        <button type="submit" class="btn btn-primary">Submit to click photo</button>
    </form>
    <br>
    <br>
    <form action="{{ url_for('facedetection') }}" method="post">
        <div class="form-group">
            <h1 style="color: aliceblue;">Recognise Facial features in image</h1>
            <input type="text" name="picname" class="form-control" id="cmd" placeholder="Enter Name of Pic that will be saved in your system">

            <input type="text" name="uplname" class="form-control" id="cmd" placeholder="Name of file you want in the bucket">
            <br>

        </div>
        <button type="submit" class="btn btn-primary">Submit to click photo</button>
    </form>
    <br>
    <br>

    <form action="{{ url_for('contentmoderation') }}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <h1 style="color: aliceblue;">Content Moderation</h1>
            <input type="text" name="uplname" class="form-control" id="cmd" placeholder="Name of file you want in the bucket">

            <input class="btn btn-primary" type="file" name="file" />


            <br>
            <br>
        </div>
        <button type="submit" class="btn btn-primary">Submit to click photo</button>
    </form>
    <br>
    <br>
    <form action="{{ url_for('polly') }}" method="post">
        <div class="form-group">
            <h1 style="color: aliceblue;">Polly to Synthesize Speech</h1>

            <textarea id="w3review" name="speech" rows="4" cols="100">
            </textarea>
            <br>
        </div>
        <button type="submit" class="btn btn-primary">Submit to save mp3</button>
    </form>
    <br>
    <br>


    <form action="{{ url_for('comprehend') }}" method="post">
        <div class="form-group">
            <h1 style="color: aliceblue;">Comprehend Text for SynTax</h1>

            <textarea id="w3review" name="speech" rows="4" cols="100">
            </textarea>
            <br>
        </div>
        <button type="submit" class="btn btn-primary">Submit </button>
    </form>
    <br>
    <br>
    <form action="{{ url_for('comprehendsen') }}" method="post">
        <div class="form-group">
            <h1 style="color: aliceblue;">Comprehend Text for Sentiment</h1>

            <textarea id="w3review" name="speech" rows="4" cols="100">
            </textarea>
            <br>
        </div>
        <button type="submit" class="btn btn-primary">Submit </button>
    </form>
    <br>
    <br>

    <form action="{{ url_for('comprehendphrases') }}" method="post">
        <div class="form-group">
            <h1 style="color: aliceblue;">Comprehend Text for KeyPhrases</h1>

            <textarea id="w3review" name="speech" rows="4" cols="100">
            </textarea>
            <br>
        </div>
        <button type="submit" class="btn btn-primary">Submit </button>
    </form>
    <br>
    <br>


    <form action="{{ url_for('comprehendentities') }}" method="post">
        <div class="form-group">
            <h1 style="color: aliceblue;">Comprehend Text for Entities</h1>

            <textarea id="w3review" name="speech" rows="4" cols="100">
            </textarea>
            <br>
        </div>
        <button type="submit" class="btn btn-primary">Submit </button>
    </form>
    <br>
    <br>

    <form action="{{ url_for('translate') }}" method="post">
        <div class="form-group">

            <h1 style="color: aliceblue;">Translate Text</h1>
            <input type="text" name="source" class="form-control" id="cmd" placeholder="Enter source lang like en">

            <input type="text" name="target" class="form-control" id="cmd" placeholder="Name dest language like fr">


            <textarea id="w3review" name="speech" rows="4" cols="100">
            </textarea>
            <br>
        </div>

        <button type="submit" class="btn btn-primary">Submit </button>
    </form>
    <br>
    <br>


</body>

</html>
